@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
   
    

}

body{
        font-family: "Poppins", sans-serif;
 }
a,
a:link,
a:visited {
    text-decoration: none;
    outline: none;
    border: none;

}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;

}

section,
span,
p {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;

}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-image: url(coffeecup.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;


}

.header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;


}  
.header-logo {
    font-size: 16px;
    letter-spacing: 2px;
    border-bottom: 5px solid rgb(66, 25, 3);
    border-radius: 35px;
    padding-bottom: 5px;
}


ul {
    display: flex;

}

li {
    margin-left: 27px;
    font-size: 22px;



}
li a:hover{
    color: rgb(181, 11, 11);

}

li:first-child {
    margin-right: 70px;
}



.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h1 {
    font-size: 8.25rem;
    font-weight: 200;
    line-height: 0.4;
    letter-spacing: 2px;
    font-family: "Herr Von Muellerhoff", cursive;
    color: rgb(89, 59, 15);

}

.first-letter {
    font-size: 10.3rem;
    font-family: "Herr Von Muellerhoff", cursive;
    color: sienna;


}

h3 {
    margin-bottom: 25px;
    font-size: 22px;


}

.btn-coffee {

    display: block;
    background-color: sienna;
    color: #ffff;
    padding: 10px 15px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: relative;
    overflow: hidden;




}

/* 5b2a02 */

.btn-coffee::after {

    content: "Buy";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #5b2a02;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;


}

.btn-coffee:hover::after {
    top: 0;


}

.about-img {
    width: 40%;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about {
    margin-bottom: 150px;

}

.about-title {
    margin: 60px 0;

}

.about-title h2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #5b2a02;
    font-size: 30px;
    font-weight: 600;
}

.about-title h2::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #5b2a02;
    margin: 0 auto;
    display: block;
    margin-top: 10px;


}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-text {
    width: 40%;
}

h4 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 60px;
    color: #745b37;
    font-family: "Herr Von Muellerhoff", cursive;
    letter-spacing: 0.5rem;
    font-weight: 100;

}

#asteriks {
    color: #745b37;
    margin-bottom: 25px;
    text-align: center;

}


.about-text p {
    font-size: 15px;
    text-align: center;
    color: #2c2727;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 25%;
    height: 300px;
    overflow: hidden;
    position: relative;

}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #6a370e;
    position: absolute;
    top: -100;
    left: 0;
    opacity: 0.9;
    color: #ffff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.portfolio-item:hover .overlay {
    top: 0;

}

.portfolio-item:hover img {
    transform: scale(1.1);

}


.contact {
    padding: 10px 0;

}

.contact h2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #5b2a02;
    font-size: 30px;
    font-weight: 600;
}
.contact h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: #5b2a02;
    margin: 0 auto;
    display: block;
    margin-top: 10px;

}

.contact-content {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    

}

.contact-item{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    margin-bottom: 100px;
    flex-direction: column;
}

.contact-item i{
    font-size: 25px;
    margin-bottom: 30px;
    color: #3c1c01;
}

.contact-item p{
    font-size: 14px;
    height: 20px;
}

.footer h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #5b2a02;
    font-size: 23px;
    font-weight: 600;
    padding: 55px 0;
}

.footer h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: #5b2a02;
    margin: 0 auto;
    display: block;
    margin-top: 10px;


}

.footer{
    background-color: #000;


}

.footer-copyright{
    color: #ffff;
    text-align: center;
    flex-basis: 55%;
    line-height: 2;
    font-size: 18px;
    margin-bottom: 40px;


}
.footer-content{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    flex-direction: column;
}

.footer-social i{
    color: #ffff;
    margin-bottom: 50px;
    font-size: 25px;
    padding: 0 40px;
   

}
.footer-copy-social{
    color: #ffff;
}
.footer-social:first-child{
    margin-left: 70px;
    
}
#footer-copy-social{
    margin-bottom: 40px;
}
#footer-copy-social ul{
    display: flex;
    justify-content: space-between;
}

.footer-icon a{
    color: rgb(255, 255, 255);
    margin-left: 65px;
   

}
#menu-icon{
    font-size: 25px;
    display: none;
    margin-left: 20px;

}


/* MENU */


@media only screen and (max-width:800px){
    .header-menu ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0px;
        background-color: #251100e8;
        width: 100%;
        overflow: hidden;
        transition: max-height .5s;

    }

    .header-menu ul li {
        margin-right: 50px;
        margin-top: 5px;
        margin-bottom: 5px;

    }
    .header-menu ul li a{
        color: #fff;

    }
    .header-menu #menu-icon{
        display: block;
        cursor: pointer;

    }
    

}
/* ABOUT */
@media only screen and (max-width:990px){
    .about-img{
        width: 100%;
        margin-bottom: 30px;

    }
  
    .about-text{
        width: 100%;

    }
}

/* PORTFOLIO */
@media only screen and (max-width:990px){
    .portfolio .portfolio-item{
        flex-basis: 50%;



    }
    


}

@media only screen and (max-width:550px){
    .portfolio .portfolio-item{
        flex-basis: 100%;



    }

}

/* CONTACT */

@media only screen and (max-width:800px){
    .contact-content{
        flex-direction: column;

    }
    .contact-item{
        margin-top: 30px;

    }
    .contact-item p{
        width: 100%;
        text-align: center;

    }

}
/* FOOTER */




